{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block body %}
<div class="container-fluid">
<hr>
    <!-- marriage pitches -->
    <div class="row">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    proposal
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    i think you and i have a lot in common than we don't . 
                </a>
                <a href="#" class="list-group-item list-group-item-action disabled">
                    Like <span class="badge badge-primary badge-pill">14</span>
                    Dislike <i class="fa fa-thumbs-down" ></i> <span class="badge badge-primary badge-pill">14</span>
                </a>
            </div>
    </div>
</div>
{% endblock %}