{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}
<div class="container">
    {{ wtf.quick_form(form)  }}
<hr>

     <!-- the following lines of code will populate all pitches related to marriage proposals on the index -->
     {% if marryme %}
     <hr>
     <h2 class="card-header" >Close your Marriage</h2>
     <hr>
     <div class="row">
         {{ macro.displayPitches(marryme)}}
         </div>
     {% else %}
         <hr>
         <h2 class="card-header" >No About yet</h2>
         <hr>
     {% endif %}
    <!-- the following lines of code will populate all pitches related to describing you on the index -->
    {% if about %}
        <hr>
        <h2 class="card-header" >Describe Yourself Lines</h2>
        <hr>
    <div class="row">
        {{ macro.displayPitches(about)}}
        </div>
    {% else %}
        <hr>
        <h2 class="card-header" >No About yet</h2>
        <hr>
    {% endif %}
        
    <!-- the following lines of code will populate all pitches related to describing you on the index -->
    {% if pickup %}
        <hr>
        <h2 class="card-header" > Use these Irresistible lines on your crush ! </h2>
        <hr>
    <div class="row">
        {{ macro.displayPitches(pickup)}}
        </div>
    {% else %}
        <h2 class="card-header" >No About yet</h2>
    {% endif %}
    
    


</div>
{% endblock %}