<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"> <i class="fa fa-spinner"></i> ne <i class="fa fa-tumblr"></i>ouch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home  <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.proposal')}}"> <i class="fa fa-maxcdn"></i>arry me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.pick_up')}}">Openers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.about_you')}}"> <i class="fa fa-buysellads"></i> bout You</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        {% if current_user.is_authenticated %}
            
             logged in as 
             <!-- <span class="badge badge-pill badge-light">{{current_user.username}}</span> -->

             <button type="button" class="btn btn-outline-success logged "> {{current_user.username}} </button>

        {% else %}  
          <a href="{{url_for('auth.register')}}"><span class="badge badge-pill badge-dark">Sign Up <i class="fa fa-user-plus"></i> </span></a>
          <a href="{{url_for('auth.login')}}"><span class="badge badge-pill badge-success">Log <i class="fa fa-linkedin-square"></i> </span> </a>
        {% endif %}
      </form>
    </div>
  </nav>